.button--plane,
.button--red,
.button--outline {
  border: 1px solid transparent;
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0.5rem;
  font-weight: bold;
  padding: 0.75rem 2rem;
  svg {
    fill: rgb(var(--bg-color));
  }
}
.button--plane {
  background-color: rgb(var(--access-color));
  color: rgb(var(--bg-color));
}
.button--red {
  background-color: rgb(var(--notice-color));
  svg {
    fill: rgb(var(--fg-color));
  }
}
.button--outline {
  border-color: rgb(var(--access-color));
  color: rgb(var(--access-color));
  svg {
    fill: rgb(var(--access-color));
  }
}

.icon-text {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  svg {
    fill: rgb(var(--fg-color));
  }
}

.text-link {
  color: rgb(var(--access-color));
  &:hover {
    text-decoration: underline;
  }
}
