*, * > * {
  line-height: 1;
}

:root {
  font-size: calc(0.375vmax + 10px);
}

body {
  --bg-color: 24, 24, 24;
  --fg-color: 240, 240, 240;
  --access-color: 24, 240, 24;
  --accent-color: 240, 48, 240;
  --notice-color: 240, 48, 48;

  background-color: rgb(var(--bg-color));
  color: rgb(var(--fg-color));
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-feature-settings: "palt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  @include scroll-bar();

  // TODO: TBD. This is instead of v-cloak.
  visibility: unset !important;
}
