*, * > * {
  line-height: 1;
}

:root {
  font-size: calc(0.375vmax + 10px);
}

body {
  --bg-color: 248, 248, 248;
  --bg-sub-color: 255, 255, 255;
  --fg-color: 16, 32, 48;
  --fg-sub-color: 0, 0, 0;
  --access-color: 0, 160, 240;
  --accent-color: 224, 32, 224;
  --notice-color: 240, 32, 32;

  background-color: rgb(var(--bg-color));
  color: rgb(var(--fg-color));
  font-feature-settings: "palt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  @include scroll-bar();

  // TODO: TBD. This is instead of v-cloak.
  visibility: unset !important;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: 16, 20, 24;
    --bg-sub-color: 8, 12, 16;
    --fg-color: 224, 224, 224;
    --fg-sub-color: 255, 255, 255;
    --access-color: 0, 160, 240;
    --accent-color: 224, 32, 224;
    --notice-color: 240, 48, 48;
  }
}
